<div class="container-fluid">
  <h2 class="tiitle-h2">Full tutorial in Techiediaries</h2>
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="carousel_items responsive_scroll_snap_ctn">
        <a
          class="
            store_main_capsule
            responsive_scroll_snap_start
            broadcast_capsule
            app_impression_tracked
          "
          data-manual-tracking="1"
          data-ds-appid="1121640"
          href="https://store.steampowered.com/app/1121640/The_Wandering_Village/?snr=1_4_4__100_1"
          data-ds-tagids="[493,1643,3810,4182,4791,4695,599,4328,1716,1662,9,3959,8945,220585,3835,7332,12472,1676,7107,87918]"
        >
          <div
            class="capsule main_capsule"
            data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1121640/capsule_616x353.jpg?t=1663352340"
            style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1121640/capsule_616x353.jpg?t=1663352340");'
          >
            <div class="broadcast_live_stream_icon">En directo</div>
          </div>
          <div class="info">
            <div class="app_name">
              <div>The Wandering Village</div>
            </div>
            <div class="screenshots">
              <div>
                <div
                  data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1121640/ss_b92a327a47c759983cd1e7fa0e3b6f2c1bde9640.600x338.jpg"
                  style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1121640/ss_b92a327a47c759983cd1e7fa0e3b6f2c1bde9640.600x338.jpg");'
                ></div>
              </div>
              <div>
                <div
                  data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1121640/ss_ab1ff492a396e4098a988f0e56a180460a797a9d.600x338.jpg"
                  style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1121640/ss_ab1ff492a396e4098a988f0e56a180460a797a9d.600x338.jpg");'
                ></div>
              </div>
              <div>
                <div
                  data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1121640/ss_2cab749091749adda56650918c76cfffc76a015b.600x338.jpg"
                  style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1121640/ss_2cab749091749adda56650918c76cfffc76a015b.600x338.jpg");'
                ></div>
              </div>
              <div>
                <div
                  data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1121640/ss_cace3c73153bfa20fbef9931af6936466cc72334.600x338.jpg"
                  style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1121640/ss_cace3c73153bfa20fbef9931af6936466cc72334.600x338.jpg");'
                ></div>
              </div>
            </div>
            <div class="reason">
              <div class="main default">Acceso anticipado ya disponible</div>
              <div class="additional">
                <div>Lo más vendido</div>
              </div>
            </div>
            <div
              class="discount_block discount_block_inline"
              data-price-final="2249"
            >
              <div class="discount_pct">-10%</div>
              <div class="discount_prices">
                <div class="discount_original_price">$24.99</div>
                <div class="discount_final_price">$22.49</div>
              </div>
            </div>
            <div class="platforms">
              <span class="platform_img win"></span
              ><span class="platform_img mac"></span
              ><span class="platform_img linux"></span>
            </div>
          </div>
        </a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="carousel_items responsive_scroll_snap_ctn">
        <a
          class="
            store_main_capsule
            responsive_scroll_snap_start
            broadcast_capsule
            app_impression_tracked
            focus
          "
          data-manual-tracking="1"
          data-ds-appid="1061910"
          href="https://store.steampowered.com/app/1061910/Metal_Hellsinger/?snr=1_4_4__129_3"
          data-ds-tagids="[4166,1752,4182,1663,19,1774,9541,3993,1621,21,3839,5154,4191,4252,4145,7208,4342,5094,4604,1684]"
        >
          <div
            class="capsule main_capsule"
            data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/capsule_616x353.jpg?t=1663363295"
            style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/capsule_616x353.jpg?t=1663363295");'
          >
            <div class="broadcast_live_stream_icon">En directo</div>
            <div
              class="screenshot"
              data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_227ee5bc4feb7b0d0582436ce37d78fab47a2dd8.600x338.jpg"
              style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_227ee5bc4feb7b0d0582436ce37d78fab47a2dd8.600x338.jpg");'
            ></div>
            <div
              class="screenshot"
              data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_8d936fc51e05cf5f004836c0f91201623930cdfb.600x338.jpg"
              style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_8d936fc51e05cf5f004836c0f91201623930cdfb.600x338.jpg");'
            ></div>
            <div
              class="screenshot"
              data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_c728cf9a2c52e10f9531adb02621dfdc305e4c0a.600x338.jpg"
              style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_c728cf9a2c52e10f9531adb02621dfdc305e4c0a.600x338.jpg");'
            ></div>
            <div
              class="screenshot"
              data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_5587b08bc976d9461fe9c85e0f740d4f0e7738fa.600x338.jpg"
              style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_5587b08bc976d9461fe9c85e0f740d4f0e7738fa.600x338.jpg");'
            ></div>
          </div>
          <div class="info">
            <div class="app_name">
              <div>Metal: Hellsinger</div>
            </div>
            <div class="screenshots">
              <div>
                <div
                  data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_227ee5bc4feb7b0d0582436ce37d78fab47a2dd8.600x338.jpg"
                  style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_227ee5bc4feb7b0d0582436ce37d78fab47a2dd8.600x338.jpg");'
                ></div>
              </div>
              <div>
                <div
                  data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_8d936fc51e05cf5f004836c0f91201623930cdfb.600x338.jpg"
                  style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_8d936fc51e05cf5f004836c0f91201623930cdfb.600x338.jpg");'
                ></div>
              </div>
              <div>
                <div
                  data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_c728cf9a2c52e10f9531adb02621dfdc305e4c0a.600x338.jpg"
                  style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_c728cf9a2c52e10f9531adb02621dfdc305e4c0a.600x338.jpg");'
                ></div>
              </div>
              <div>
                <div
                  data-background-image-url="https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_5587b08bc976d9461fe9c85e0f740d4f0e7738fa.600x338.jpg"
                  style='background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1061910/ss_5587b08bc976d9461fe9c85e0f740d4f0e7738fa.600x338.jpg");'
                ></div>
              </div>
            </div>
            <div class="reason">
              <div class="main default">Ya disponible</div>
              <div class="additional">
                <div>Lo más vendido</div>
              </div>
            </div>
            <div
              class="discount_block no_discount discount_block_inline"
              data-price-final="2999"
            >
              <div class="discount_prices">
                <div class="discount_final_price">$29.99</div>
              </div>
            </div>
            <div class="platforms"><span class="platform_img win"></span></div>
          </div>
        </a>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
