ngb-carousel .wrapper {
  position: relative;
  padding-top: 55%; /* Keep ratio for 900x500 images */
  clear: both;
  height: 353px;
  overflow: hidden;
  box-shadow: 0 0 7px 0px #000;
}

ngb-carousel .wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.carousel_items {
  height: 353px;
  overflow: hidden;
  box-shadow: 0 0 7px 0px #000;
}

.store_main_capsule .capsule {
  flex-shrink: 0;
  background-color: #000;
  position: relative;
  z-index: 2;
  margin-right: 10px;
  width: 616px;
  height: 353px;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 10px 5px #000;
}

.screenshot {
  opacity: 0;
  width: 616px;
  height: 353px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 300ms;
}

.info {
  flex-shrink: 1;
}

.store_main_capsule,
.store_main_capsule:hover {
  background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/home/background_maincap_2.jpg);
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
  display: flex;
}

.store_main_capsule .capsule {
  flex-shrink: 0;
  background-color: #000;
  position: relative;
  z-index: 2;
  margin-right: 10px;
  width: 616px;
  height: 353px;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 10px 5px #000;
}

.store_main_capsule .screenshots {
  width: 344px;
  display: inline-block;
  margin-left: -30px;
  max-height: 176px;
  position: relative;
}

.store_main_capsule .reason {
  margin-top: 8px;
  padding-left: 6px;
  display: inline-block;
  width: 298px;
}

.store_main_capsule .discount_block {
  bottom: 10px;
  left: 632px;
}

.store_main_capsule .screenshots > div > div {
  width: 162px;
  height: 69px;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  opacity: 0.6;
  padding: 0px;
  margin: 0px;
}

.store_main_capsule .screenshots {
  width: 344px;
  display: inline-block;
  margin-left: -30px;
  max-height: 176px;
  position: relative;
}

.store_main_capsule .app_name {
  padding-top: 0px;
  font-family: 'Motiva Sans', Sans-serif;
  font-weight: 300;
  height: 69px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  align-items: center;
}

.store_main_capsule .reason .additional {
  margin-top: 5px;
  font-size: 14px;
}

.store_main_capsule .discount_block {
  position: absolute;
  bottom: 10px;
  left: 632px;
}

.discount_block_inline {
  line-height: 15px;
}

.discount_block .discount_pct,
.discount_pct {
  color: #a4d007;
  background: #4c6b22;
  display: inline-block;
  padding: 0 3px;
}

.discount_block > .discount_prices {
  background-color: rgba(0, 0, 0, 0.6);
}

.discount_block_inline .discount_prices {
  padding: 0 5px;
}

.discount_block .discount_prices {
  display: inline-block;
  vertical-align: bottom;
  text-align: right;
}
.discount_block .discount_prices {
  background: #000000;
}
.discount_block .discount_original_price {
  color: #7193a6;
}
.discount_block_inline .discount_original_price,
.discount_block_inline .discount_final_price {
  display: inline;
}

.discount_original_price {
  text-decoration: line-through;
  color: #626366;
  font-size: 11px;
}

.discount_block_inline .discount_prices .discount_final_price {
  font-size: 13px;
}

.discount_block .discount_final_price {
  color: #acdbf5;
}

.discount_block_inline .discount_final_price {
  padding-left: 4px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.store_main_capsule .platforms {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.7;
}

span.platform_img {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: 'https://store.cloudflare.steamstatic.com/public/images/v6/icon_platform_linux.png';
}

.store_main_capsule .screenshots > div {
  width: 162px;
  height: 69px;
  padding: 10px 10px 0 0;
  display: inline-block;
  margin-left: 10px;
}

.store_main_capsule .reason .additional > div {
  margin: 3px 0;
  display: inline-block;

  line-height: 19px;
  padding: 0 7px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  margin-right: 2px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 3px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
}
.tiitle-h2 {
  font-family: 'Motiva Sans', Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 0.03em;
  font-weight: normal;
  padding-top: 2px;
}
